{{define "dop_for_home"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Телефон - Orbitel</title>
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        {{template "header"}}
        <section class="dop_for_home">
            <h2>Дополнительные услуги</h2>
            <div class="tables">
                <button id="table1">Оборудование</button>
                <div class="table1">
                    <div class="h col1">Наименование услуги</div>
                    <div class="h col2">Цена/залоговая стоимость</div>
                    <div class="h col3">Аренда, Руб/мес</div>
                    <div class="h col4">Приобритение в рассрочку за 1 год</div>
                    <div class="col1">Wi-Fi-роутер (с настройкой)</div>
                    <div class="col2">1 800р.</div>
                    <div class="col3">100р.</div>
                    <div class="col4">150р./мес.</div>
                    <div class="col1">Ресивер World Vision T62D (DVB-C, DVB-T/T2)</div>
                    <div class="col2">1 500р.</div>
                    <div class="col3">100р.</div>
                    <div class="col4">нет</div>
                    <div class="col1">IP TV-приставка NV-501Wac</div>
                    <div class="col2">4 300р.</div>
                    <div class="col3">100р.</div>
                    <div class="col4">нет</div>
                </div>
                <button id="table2">Настройка роутера</button>
                <div class="table2">
                    <div class="h col1">Наименование услуги</div>
                    <div class="h col2">Стоимость</div>
                    <div class="col1">Настройка Wi-Fi роутера абонента в офисе, приобретенного у сторонней фирмы</div>
                    <div class="col2">350р.</div>
                    <div class="col1">Настройка Wi-Fi роутера абонента в офисе, приобретенного в компании «Орбител»</div>
                    <div class="col2">0р.</div>
                    <div class="col1">Настройка Wi-Fi роутера абонента на дому, приобретенного у сторонней фирмы</div>
                    <div class="col2">600р.</div>
                    <div class="col1">Настройка Wi-Fi роутера абонента на дому, приобретенного в компании «Орбител»</div>
                    <div class="col2">250р.</div>
                    <div class="col1">Консультация специалиста с выездом к Заказчику, за 1 час</div>
                    <div class="col2">250р.</div>
                </div>
                <button id="table3">Дополнительные услуги тарифного плана</button>
                <div class="table3">
                    <div class="h col1">Наименование услуги</div>
                    <div class="h col2">Стоимость</div>
                    <div class="h col3">Примечание</div>
                    <div class="col1">Смена тарифного плана</div>
                    <div class="col2">0,00р.</div>
                    <div class="col3"> </div>
                    <div class="col1">Перезаключение договора по инициативе Оператора</div>
                    <div class="col2">0,00р.</div>
                    <div class="col3"> </div>
                    <div class="col1">Перезаключение договора по инициативе Абонента</div>
                    <div class="col2">100р.</div>
                    <div class="col3"> </div>
                    <div class="col1">Блокировка (ограничение доступа) по заявлению Абонента возможна 2 раза в год, суммарно не превышающих 6 мес.</div>
                    <div class="col2">0,00р.</div>
                    <div class="col3">в течение 3 рабочих дней с момента получения заявки Абонента</div>
                    <div class="col1">Блокировка (ограничение доступа) по заявлению Абонента сроком более 6 мес.</div>
                    <div class="col2">100р. начиная с 7 мес.</div>
                    <div class="col3">в течение 3 рабочих дней с момента получения заявки Абонента</div>
                    <div class="col1">Разблокировка (возобновление доступа) по заявке Абонента, поданной в срок не более 3-х месяцев с момента блокировки</div>
                    <div class="col2">0,00р.</div>
                    <div class="col3">в течение 3 рабочих дней с момента получения заявки Абонента</div>
                    <div class="col1">Разблокировка (возобновление доступа) по заявке Абонента, поданной в срок более 3-х месяцев с момента блокировки</div>
                    <div class="col2">0,00р.</div>
                    <div class="col3">за каждый полный месяц блокировки сверх 3-х месяцев</div>
                    <div class="col1">Детализация статистики по заявке Абонента за предыдущий месяц</div>
                    <div class="col2">0,00р.</div>
                    <div class="col3">в течение 5 рабочих дней с момента получения заявки Абонента</div>
                    <div class="col1">Детализация статистики по заявке Абонента ранее предыдущего месяца</div>
                    <div class="col2">10р.</div>
                    <div class="col3">за 1 стандартную страницу формата А4, производится в течение 5 рабочих дней с момента получения заявки Абонента</div>
                </div>
            </div>
        </section>
        {{ template "footer" }}
        <script src="assets/js/script.js"></script>
    </body>
    </html>
{{end}}