{{define "footer"}}
    <footer>
        <div class="top">
            <div class="column">
                <h4>Для дома</h4>
                <ul>
                    <a href="/tarif_for_home"><li>Интернет</li></a>
                    <a href="/inettv"><li>Интернет + ТВ</li></a>
                    <a href="https://orbitel.ru/smotr/"><li>Интерактивное ТВ</li></a>
                    <a href="/tv"><li>Кабельное ТВ</li></a>
                    <a href="/phone"><li>Телефон</li></a>
                    <a href="/dop_for_home"><li>Дополнительные услуги</li></a>
                </ul>
            </div>
            <div class="column">
                <h4>Для бизнеса</h4>
                <ul>
                    <a href="/business/inet-for-ul"><li>Интернет</li></a>
                    <a href="/business/phone-for-ul"><li>Телефон</li></a>
                    <a href="/business/vpn-for-ul"><li>Каналы передачи данных (VPN)</li></a>
                    <li>Виртуальная АТС</li>
                    <li>Дополнительные услуги</li>
                </ul>
            </div>
            <div class="column">
                <h4>Сервис</h4>
                <ul>
                    <li>Настройка роутера</li>
                    <li>Настройка ТВ каналов</li>
                    <li>Способы оплаты</li>
                    <li>Часто задаваемые вопросы</li>
                </ul>
            </div>
            <div class="column">
                <h4>Поддержка</h4>
                <ul>
                    <li>8-800-100-65-45</li>
                    <li>8 (3522) 65-00-00</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="icon">vk</div>
        </div>
    </footer>
{{end}}