{{define "personal_account"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет - Orbitel</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{template "header"}}
    <section class="profile">
        <div class="contain">
            <img src="/assets/img/user.svg" alt="">
            <div>
                <span>Лицевой счет: 78349107</span>
{{/*                <span>Фамилия Имя Отчество</span>*/}}
                <span>Виноградов Евгений Николаевич</span>
            </div>
        </div>
        <div class="leave">
            Выйти
            <img src="/assets/img/log_out.svg" alt="">
        </div>
    </section>
    <section class="personal_account">
        <div class="left">
            <div class="contain">
                <h2><span>Текущий тариф: </span>Домашний-Плюс2</h2>
                <p class="info"><img src="/assets/img/info.svg" alt=""> Подробнее о тарифе</p>
                <div class="balance_block">
                    <div class="balance">
                        <div>652,72 ₽</div>
                        <p class="info">Дата следующего списания: 01.05.2023</p>
                    </div>
                    <div class="deposits">
                        <div>
                            <img src="/assets/img/wallet_personal_account.svg" alt="">
                            <span>Пополненить счёт</span>
                        </div>
                        <div>
                            <img src="/assets/img/history_personal_account.svg" alt="">
                            <span>История пополнения</span>
                        </div>
                    </div>
                </div>
                <div class="expenses_block">
                    <div class="head">
                        <h3>Расходы <span>март <img src="/assets/img/calendar.svg" alt="">:</span></h3>
                        <button>Все расходы</button>
                    </div>
                    <div class="table">
                        <div class="row_h">
                            <div class="table_h">Дата и время</div>
                            <div class="table_h">Сумма списания</div>
                            <div class="table_h">Услуга</div>
                        </div>
                        <div class="row">
                            <div>23.03.2023 18:43</div>
                            <div>-650₽</div>
                            <div>Ежемесячная плата</div>
                        </div>
                        <div class="row">
                            <div>23.03.2023 18:43</div>
                            <div>-650₽</div>
                            <div>Оплата телефона</div>
                        </div>
                        <div class="row">
                            <div>23.03.2023 18:43</div>
                            <div>-650₽</div>
                            <div>Подключение кабельного ТВ</div>
                        </div>
                        <div class="row">
                            <div>23.03.2023 18:43</div>
                            <div>-650₽</div>
                            <div>Аренда оборудования</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="contain">
                <div class="menu t-1">
                    <div id="menu-t-1-block1" class="block t-1">Дополнительные услуги</div>
                    <div id="menu-t-1-block2" class="block t-2">Тех.поддержка</div>
                </div>
                <div class="menu t-2">
                    <a href="/">Смена тарифного плана</a>
                    <a href="/">Настройка оборудования</a>
                    <a href="/">Калькулятор услуг</a>
                </div>
                <div class="menu t-3">
                    <div id="menu-t-3-block1"></div>
                    <div id="menu-t-3-block2"></div>
                </div>
            </div>
        </div>
    </section>
    {{template "footer"}}
    <script src="/assets/js/script.js"></script>
</body>
</html>
{{end}}