{{define "tarif_for_home"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Интернет + ТВ - Orbitel</title>
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
    {{template "header"}}
    <section class="tariffs">
        <h2>Выберите тариф для подключения</h2>
        <div class="contain">
            <div class="cases">
                <div class="case">
                    <img src="/assets/img/map.svg" alt="" width="74">
                    <span>Как нас найти?</span>
                </div>
                <div class="case">
                    <img src="/assets/img/wallet.svg" alt="" width="74">
                    <span>Способы оплаты</span>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="price">650 ₽/мес</div>
                    <h3>Домашний - Ультра 2</h3>
                    <p>Тариф расчитан на несколько устройств домашней сети</p>
                    <div class="border-bottom"></div>
                    <div class="speed">до <span>300</span> мб/с</div>
                    <img src="/assets/img/speed-meter1.svg" alt="" width="92">
                    <button>Подключить</button>
                </div>
                <div class="card type2">
                    <div class="price">650 ₽/мес</div>
                    <h3>Домашний - Ультра 2</h3>
                    <p>Тариф расчитан на несколько устройств домашней сети</p>
                    <div class="border-bottom"></div>
                    <div class="speed">до <span>300</span> мб/с</div>
                    <img src="/assets/img/speed-meter2.svg" alt="" width="92">
                    <button>Подключить</button>
                </div>
            </div>
            <div>
                <img src="/assets/img/smotr.png" alt="">
            </div>
        </div>
    </section>
    {{ template "footer" }}
    </body>
    </html>
{{end}}