{{define "adminTariffsForm"}}
    {{template "adminAside" .Active}}
    <main>
        <div class="alert">
            <div class="close"></div>
            <div class="text">Заявка успешно отправлена</div>
            <div class="timer"></div>
        </div>
        {{template "adminHead" .}}
        <div class="contain tariffs-form">
            <div class="form">
               <div style="display: flex; justify-content: space-evenly">
                   <div class="select-block">
                       <span class="select-block-span">Тип тарифа</span>
                       <div class="select">
                           {{if eq .Mode "create"}}
                               <div id="type" class="select-button" value="">
                                   <span class="select-button-span">Выбрать</span>
                                   <i class="fa-solid fa-caret-down select-button-icon"></i>
                               </div>
                               <ul class="type">
                                   <li value="1">Интернет+ТВ</li>
                                   <li value="2">Интернет</li>
                                   <li value="3">ТВ</li>
                               </ul>
                           {{else}}
                               <div id="type" class="select-button" style="color: #ffffff; background-color: #0177fd" value="{{.Obj.Type.ID}}">
                                   {{if eq .Obj.Type.ID 1}}Интернет+ТВ{{end}}
                                   {{if eq .Obj.Type.ID 2}}Интернет{{end}}
                                   {{if eq .Obj.Type.ID 3}}ТВ{{end}}
                               </div>
                               <ul class="type">
                                   <li value="1">Интернет+ТВ</li>
                                   <li value="2">Интернет</li>
                                   <li value="3">ТВ</li>
                               </ul>
                           {{end}}
                       </div>
                   </div>
                   <div class="select-block">
                       <span class="select-block-span">Цвет</span>
                       <div class="select">
                           {{if eq .Mode "create"}}
                               <div id="color" class="select-button" value="">
                                   <span class="select-button-span">Выбрать</span>
                                   <i class="fa-solid fa-caret-down select-button-icon"></i>
                               </div>
                               <ul class="color">
                                   <li value="#0177fd" style="color: #ffffff;background-color: #0177fd">#0177fd</li>
                                   <li value="#ee5037" style="color: #ffffff;background-color: #ee5037">#ee5037</li>
                               </ul>
                           {{else}}
                               <div id="color" class="select-button" style="color: #ffffff; background-color: {{.Obj.Color}}; border: 1px solid {{.Obj.Color}}" value="{{.Obj.Color}}">
                                   {{.Obj.Color}}
                               </div>
                               <ul class="color">
                                   <li value="#0177fd" style="color: #ffffff;background-color: #0177fd">#0177fd</li>
                                   <li value="#ee5037" style="color: #ffffff;background-color: #ee5037">#ee5037</li>
                               </ul>
                           {{end}}
                       </div>
                   </div>
               </div>
                <label>
                    <div>Стоимость</div>
                    <input type="number" id="price" {{if eq .Mode "edit"}} value="{{.Obj.Price}}"{{end}}>
                </label>
                <label>
                    <div>Наименование</div>
                    <input type="text" id="name" {{if eq .Mode "edit"}} value="{{.Obj.Name}}" {{end}}>
                </label>
                <label>
                    <div>Описание</div>
{{/*                    <textarea type="text" id="name" {{if eq .Mode "edit"}} value="{{.Obj.Name}}" {{end}}>*/}}
                    <textarea id="description" cols="30" rows="6">{{if eq .Mode "edit"}} {{.Obj.Description}} {{end}}</textarea>
                </label>
                <label>
                    <div>Скорость</div>
                    <input type="number" min="0" id="speed" {{if eq .Mode "edit"}} value="{{.Obj.Speed}}" {{if eq .Obj.Type.ID 3}}disabled{{end}} {{else}} disabled {{end}}>
                </label>
                <label>
                    <div>Количество цифровых каналов</div>
                    <input type="number" min="0" id="digital_channel" {{if eq .Mode "edit"}} value="{{.Obj.DigitalChannel}}" {{if eq .Obj.Type.ID 2}}disabled{{end}} {{else}} disabled {{end}}>
                </label>
                <label>
                    <div>Количество аналоговых каналов</div>
                    <input type="number" min="0" id="analog_channel" {{if eq .Mode "edit"}} value="{{.Obj.AnalogChannel}}" {{if eq .Obj.Type.ID 2}}disabled{{end}} {{else}} disabled {{end}}>
                </label>
{{/*                <label>*/}}
{{/*                    <div>Изображение</div>*/}}
{{/*                    <input type="file" id="image" accept=".svg, .png, .jpeg, .jpg" {{if ne .Obj.Type.ID 2}}disabled{{end}}>*/}}
{{/*                    <img src="" id="image-preview" style="margin: 10px 0">*/}}
{{/*                </label> */}}
                <label>
                    <div>Изображение</div>
                    <div id="image" {{if eq .Mode "edit"}}value="{{.Obj.Image}}" {{else}} value="" {{end}}>
                        <div class="disabled" {{if eq .Mode "edit"}} {{if ne .Obj.Type.ID 2}}style="display: block" {{else}}style="display: none" {{end}} {{else}} style="display: block" {{end}}></div>
                        <img src="/assets/img/speed-meter1.svg" alt="" width="120" {{if eq .Mode "edit"}} {{if eq .Obj.Image "speed-meter1.svg"}} style="border: 2px solid #0177fd" {{end}} {{end}}>
                        <img src="/assets/img/speed-meter2.svg" alt="" width="120" {{if eq .Mode "edit"}} {{if eq .Obj.Image "speed-meter2.svg"}} style="border: 2px solid #0177fd" {{end}} {{end}}>
                    </div>
                </label>
                <div class="control_buttons">
                    {{if eq .Mode "create"}}<button class="create" id="create_tariff">Создать</button>{{else}}<button class="create" id="update_tariff">Сохранить</button>{{end}}
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/admin.js"></script>
{{end}}