{{define "adminTariffsView"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Просмотр пользователя: {{.Obj.ID}}</title>
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/admin.css">
    </head>
    <body>
    {{template "adminAside" .Active}}
    <main>
        {{template "adminHead" .}}
        <div class="control_buttons">
            <a href="/admin/tariffs/edit-{{.Obj.ID}}"><button class="edit">Изменить</button></a>
            <a href="/admin/tariffs/delete-{{.Obj.ID}}"><button class="delete">Удалить</button></a>
        </div>
        <div class="table view-table">
            <div class="row">
                <div class="col-view">ID</div>
                <div class="col-view">{{.Obj.ID}}</div>
            </div>
            <div class="row">
                <div class="col-view">Тип</div>
                <div class="col-view">{{.Obj.Type}}</div>
            </div>
            <div class="row">
                <div class="col-view">Стоимость</div>
                <div class="col-view">{{.Obj.Price}}</div>
            </div>
            <div class="row">
                <div class="col-view">Наименование</div>
                <div class="col-view">{{.Obj.Name}}</div>
            </div>
            <div class="row">
                <div class="col-view">Описание</div>
                <div class="col-view">{{.Obj.Description}}</div>
            </div>
            <div class="row">
                <div class="col-view">Скорость</div>
                <div class="col-view">{{.Obj.Speed}}</div>
            </div>
            <div class="row">
                <div class="col-view">Количество цифровых каналов</div>
                <div class="col-view">{{.Obj.DigitalChannel}}</div>
            </div>
            <div class="row">
                <div class="col-view">Количество аналоговых каналов</div>
                <div class="col-view">{{.Obj.AnalogChannel}}</div>
            </div>
            <div class="row">
                <div class="col-view">Изображение</div>
                <div class="col-view">{{.Obj.Image}}</div>
            </div>
            <div class="row">
                <div class="col-view">Цвет</div>
                <div class="col-view" style="color: #ffffff;background-color: {{.Obj.Color}}">{{.Obj.Color}}</div>
            </div>
        </div>
    </main>
    <script src="/assets/js/admin.js"></script>
    </body>
    </html>
{{end}}