{{define "adminUsers"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
    {{template "adminAside" .Active}}
    <main>
        {{template "adminHead" .}}
        <div class="control_buttons">
            <a href="/admin/users/create"><button class="create">Создать</button></a>
        </div>
        <div class="table users-table">
            <div class="row_h">
                <div class="table_h col1">ID</div>
                <div class="table_h col2">ФИО</div>
                <div class="table_h col3">Номер телефона</div>
                <div class="table_h col4">Лицевой счет</div>
                <div class="table_h col5">Текущий баланс</div>
                <div class="table_h col6">Текущий тариф</div>
                <div class="table_h col7">Роль</div>
                <div class="table_h col8"></div>
            </div>
            <div class="row inputs">
                <div class="col1"><input type="text"></div>
                <div class="col2"><input type="text"></div>
                <div class="col3"><input type="text"></div>
                <div class="col4"><input type="text"></div>
                <div class="col5"><input type="text"></div>
                <div class="col6"><input type="text"></div>
                <div class="col7"><input type="text"></div>
                <div class="col8"></div>
            </div>
            {{range $vl := .Users}}
            <div class="row">
                <div class="col1">{{$vl.ID}}</div>
                <div class="col2">{{$vl.Name}}</div>
                <div class="col3">{{$vl.Phone}}</div>
                <div class="col4">{{$vl.AccountNumber}}</div>
                <div class="col5">{{$vl.CurrentBalance}}</div>
                <div class="col6">{{$vl.CurrentTariff.Name}}</div>
                <div class="col7">{{$vl.Role.Name}}</div>
                <div class="col8">
                    <a href="/admin/users/view-{{$vl.ID}}"><i class="fa-solid fa-eye"></i></a>
                    <a href="/admin/users/edit-{{$vl.ID}}"><i class="fa-solid fa-pen"></i></a>
                    <a href="/admin/users/delete-{{$vl.ID}}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            {{end}}
        </div>
    </main>

    <script src="/assets/js/admin.js"></script>
</body>
</html>
{{end}}