{{define "authorization"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аворизация - Orbitel</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <section class="authorization">
        <div class="contain">
            <img src="/assets/img/Logo.svg" alt="" width="130">
            <h2>Авторизация</h2>
            <label for="account_number">Номер лицевого счета</label>
            <input type="text" id="account_number">
            <label for="password">Пароль</label>
            <input type="password" id="password">
            <button>Войти</button>
        </div>
    </section>
    <script src="/assets/js/script.js"></script>
</body>
</html>
{{end}}