{{ define "faq"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.SEO.Title}}</title>
        <meta name="keywords" content="{{.SEO.Keywords }}">
        <meta name="description" content="{{.SEO.Description }}">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
    {{template "header"}}
    <section class="faq">
        <h2>Часто задаваемые вопросы</h2>
        <div class="contain">
            {{range $vl := .Faq}}
                <div class="bar">
                    <div class="question">
                        <div class="arrow">
                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                        <div class="text">
                            <div class="title">{{$vl.Question}}</div>
                            <div class="answer">
                                <p>{{$vl.Answer}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </section>
    {{ template "footer" }}
    <script src="/assets/js/script.js"></script>
    </body>
    </html>
{{end}}