{{define "footer"}}
    <footer>
        <div class="top">
            <div class="column">
                <h4>Для дома</h4>
                <ul>
                    <a href="/tarif_for_home"><li>Интернет</li></a>
                    <a href="/inettv"><li>Интернет + ТВ</li></a>
                    <a href="https://orbitel.ru/smotr/"><li>Интерактивное ТВ</li></a>
                    <a href="/tv"><li>Кабельное ТВ</li></a>
                    <a href="/phone"><li>Телефон</li></a>
                    <a href="/dop_for_home"><li>Дополнительные услуги</li></a>
                </ul>
            </div>
            <div class="column">
                <h4>Для бизнеса</h4>
                <ul>
                    <a href="/business/inet-for-ul"><li>Интернет</li></a>
                    <a href="/business/phone-for-ul"><li>Телефон</li></a>
                    <a href="/business/vpn-for-ul"><li>Каналы передачи данных (VPN)</li></a>
                    <a href="/virtual-ats"><li>Виртуальная АТС</li></a>
                    <li>Дополнительные услуги</li>
                </ul>
            </div>
            <div class="column">
                <h4>Сервис</h4>
                <ul>
                    <a href="/routers"><li>Настройка роутера</li></a>
                    <a href="/tv-manual"><li>Настройка ТВ каналов</li></a>
                    <a href="/oplata"><li>Способы оплаты</li></a>
                    <a href="/faq"><li>Вопрос - ответ</li></a>
                    <a href="/calculator"><li>Калькулятор тарифов</li></a>
                    <a href="https://www.speedtest.net/"><li>Тест скорости</li></a>
                </ul>
            </div>
            <div class="column">
                <h4>Поддержка</h4>
                <ul>
                    <li>8-800-100-65-45</li>
                    <li>8 (3522) 65-00-00</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <a href="https://vk.com/orbitel"> <img src="/assets/img/vkontakte_icon.svg" alt=""></a>
        </div>
    </footer>
{{end}}