{{define "index"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{template "header"}}
    <section class="slider">
        <img src="/assets/img/img.png" alt="" width="1100">
        <div class="border-bottom"></div>
    </section>
    <section class="tariffs">
        <h2>Выберите тариф для подключения</h2>
        <div class="contain">
            <div class="cases">
                <div class="case">
                    <img src="/assets/img/map.svg" alt="" width="74">
                    <span>Как нас найти?</span>
                </div>
                <div class="case">
                    <img src="/assets/img/wallet.svg" alt="" width="74">
                    <span>Способы оплаты</span>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="price">650 ₽/мес</div>
                    <h3>Домашний - Ультра 2</h3>
                    <p>Тариф расчитан на несколько устройств домашней сети</p>
                    <div class="border-bottom"></div>
                    <div class="speed">до <span>300</span> мб/с</div>
                    <div class="description">
                        <div class="d1"><span>150</span> Цифровых каналов</div>
                        <div class="d2"><span>50</span> Аналоговых каналов</div>
                    </div>
                    <button>Подключить</button>
                </div>
                <div class="card type2">
                    <div class="price">650 ₽/мес</div>
                    <h3>Домашний - Ультра 2</h3>
                    <p>Тариф расчитан на несколько устройств домашней сети</p>
                    <div class="border-bottom"></div>
                    <div class="speed">до <span>300</span> мб/с</div>
                    <div class="description">
                        <div class="d1"><span>150</span> Цифровых каналов</div>
                        <div class="d2"><span>50</span> Аналоговых каналов</div>
                    </div>
                    <button>Подключить</button>
                </div>
            </div>
            <div>
                <img src="/assets/img/smotr.png" alt="">
            </div>
        </div>
        <div class="border-bottom"></div>
    </section>
    <section class="address-check">
        <h2>Узнайте наличие подключения по вашему адресу!</h2>
        <div class="contain">
            <label for="address">Введите адрес:</label>
            <div class="input">
                <input id="address" type="text" placeholder="Улица, номер дома">
                <button class="check">Проверить</button>
            </div>
{{/*            <p>Поздравляем! <span>Данный</span> адрес доступен для подключения!</p>*/}}
{{/*            <button class="choose-tariff">Подобрать тариф</button>*/}}
        </div>
    </section>
    {{ template "footer" }}
    <script src="/assets/js/script.js"></script>
</body>
</html>
{{end}}