{{define "inettv"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.SEO.Title}}</title>
        <meta name="keywords" content="{{.SEO.Keywords }}">
        <meta name="description" content="{{.SEO.Description }}">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
    {{template "header"}}
    <section class="tariffs">
        <h2>{{ index .Settings "sections_tariffs_title" }}</h2>
        <div class="contain">
            <div class="cards">
                {{range $vl := .Tariffs}}
                    <div class="card {{if eq $vl.Color "#ee5037"}}type2{{end}}">
                        <div class="price">{{$vl.Price}} ₽/мес</div>
                        <h3>{{$vl.Name}}</h3>
                        <p>{{$vl.Description}}</p>
                        <div class="border-bottom"></div>
                        <div class="speed">до <span>{{$vl.Speed}}</span> мб/с</div>
                        <div class="description">
                            {{if ne $vl.DigitalChannel 0}}
                                <div class="d1"><span>{{$vl.DigitalChannel}}</span> Цифровых каналов</div>
                            {{end}}
                            {{if ne $vl.AnalogChannel 0}}
                                <div class="d2"><span>{{$vl.AnalogChannel}}</span> Аналоговых каналов</div>
                            {{end}}
                        </div>
                        <a href="/abonent_application-{{$vl.ID}}"><button>Подключить</button></a>
                    </div>
                {{end}}
            </div>
        </div>
        {{template "cases" .}}
    </section>
    {{ template "footer" }}
    <script src="/assets/js/script.js"></script>
    </body>
    </html>
{{end}}