{{ define "phone_for_ul"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.SEO.Title}}</title>
        <meta name="keywords" content="{{.SEO.Keywords }}">
        <meta name="description" content="{{.SEO.Description }}">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
    {{template "header"}}
    <section class="phone_for_ul-info">
        <div class="images">
            <img src="/assets/img/phone_for_ul-background1.png" alt="" class="img1">
            <img src="/assets/img/phone_for_ul-background2.png" alt="" class="img2">
        </div>
        <div class="contain">
            <h2>{{ index .Settings "section_phone-for-ul_title" }}</h2>
            <p>
                {{ index .Settings "section_phone-for-ul_text" }}
            </p>
            <button onclick="scrollToBusinessApplication()">{{ index .Settings "sections_button-connect_text" }}</button>
        </div>
        <div class="fusion-top"></div>
        <div class="fusion-bottom"></div>
    </section>
    <section class="advantages t1">
        <h2>{{ index .Settings "sections_advantages_title" }}</h2>
        <div class="bar">
            <div class="round-main round1">
                <img src="/assets/img/advantages5.svg" alt="">
                <div>{{ index .Settings "section_advantages_phone-for-ul_elements" }}</div>
            </div>
            <div class="round-type4 round1"></div>
            <div class="round-type3 round1"></div>
            <div class="round-type2 round1"></div>
            <div class="round-type1 round1-round2"></div>
            <div class="round-type2 round2"></div>
            <div class="round-type3 round2"></div>
            <div class="round-type4 round2"></div>
            <div class="round-main round2">
                <img src="/assets/img/advantages2.svg" alt="">
                <div>Возможность объединения телефонных номеров в «серию»</div>
            </div>
            <div class="round-type4 round2"></div>
            <div class="round-type3 round2"></div>
            <div class="round-type2 round2"></div>
            <div class="round-type1 round2-round3"></div>
            <div class="round-type2 round3"></div>
            <div class="round-type3 round3"></div>
            <div class="round-type4 round3"></div>
            <div class="round-main round3">
                <img src="/assets/img/advantages3.svg" alt="">
                <div>Возможность выбора «красивых» номеров</div>
            </div>
            <div class="round-type4 round3"></div>
            <div class="round-type3 round3"></div>
            <div class="round-type2 round3"></div>
            <div class="round-type1 round3-round4"></div>
            <div class="round-type2 round4"></div>
            <div class="round-type3 round4"></div>
            <div class="round-type4 round4"></div>
            <div class="round-main round4">
                <img src="/assets/img/advantages4.svg" alt="">
                <div>В случае переезда – телефонный номер «переезжает» вмести с Вами</div>
            </div>
        </div>
    </section>
         {{template "applicationForm" .}}
    {{ template "footer" }}
    <script src="/assets/js/script.js"></script>
    </body>
    </html>
{{end}}