{{ define "vpn_for_ul"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.SEO.Title}}</title>
        <meta name="keywords" content="{{.SEO.Keywords }}">
        <meta name="description" content="{{.SEO.Description }}">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
    {{template "header"}}
    <section class="vpn_for_ul-info s1">
        <div class="contain1">
            <h2>{{ index .Settings "section_vpn-for-ul_title" }}</h2>
            <p>
                {{ index .Settings "section_vpn-for-ul_text1" }}
            </p>
        </div>
        <img src="/assets/img/vpn_for_ul-background1.png" alt="" class="img1">
        <div class="border-connect">
            <div class="start"></div>
            <div class="end"></div>
        </div>
    </section>
    <section class="vpn_for_ul-info s2">
        <img src="/assets/img/vpn_for_ul-background2.png" alt="" class="img2">
        <div class="contain2">
            <p>
                {{ index .Settings "section_vpn-for-ul_text2" }}
            </p>
        </div>
        <div class="border-connect type2">
            <div class="start"></div>
            <div class="middle"></div>
            <div class="end"></div>
        </div>
    </section>
    <section class="vpn_for_ul-info s3">
        <div class="contain3">
            <ul>
                {{ index .Settings "section_vpn-for-ul_text3" }}
            </ul>
        </div>
        <img src="/assets/img/vpn_for_ul-background3.png" alt="" class="img2">
    </section>
        {{template "applicationForm" .}}
    {{ template "footer" }}
    <script src="/assets/js/script.js"></script>
    </body>
    </html>
{{end}}