{{define "adminAside"}}
<aside>
    <button id="menu"></button>
    <ul>
        {{if eq "users" .}}<li class="active">{{else}}<li>{{end}}
            <a href="/admin/users">
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="text">Пользователи</div>
            </a>
        </li>
        {{if eq "tariffs" .}}<li class="active">{{else}}<li>{{end}}
            <a href="/admin/tariffs">
                <div class="icon">
                    <i class="fas fa-clipboard-list"></i>
                </div>
                <div class="text">Тарифы</div>
            </a>
        </li>
        {{if eq "services" .}}<li class="active">{{else}}<li>{{end}}
            <a href="/admin/services">
                <div class="icon">
                    <i class="fa-solid fa-folder"></i>
                </div>
                <div class="text">Услуги</div>
            </a>
        </li>
        {{if eq "settings" .}}<li class="active">{{else}}<li>{{end}}
            <a href="/admin/settings">
                <div class="icon">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="text">Настройки сайта</div>
            </a>
        </li>
    </ul>
</aside>
{{end}}