{{define "adminSettings"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Настройки</title>
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/admin.css">
    </head>
    <body>
    {{template "adminAside" .Active}}
    <main>
        {{template "adminHead" .}}
        <div class="table settings-table">
            <div class="row_h">
                <div class="table_h col1">ID</div>
                <div class="table_h col2">Ключ</div>
                <div class="table_h col3">Значеие</div>
                <div class="table_h col4">Описание</div>
                <div class="table_h col5"></div>
            </div>
            <div class="row inputs">
                <div class="col1"><input type="text" id="col1"></div>
                <div class="col2"><input type="text" id="col2"></div>
                <div class="col3"><input type="text" id="col3"></div>
                <div class="col4"><input type="text" id="col4"></div>
                <div class="col5"></div>
            </div>
            <div class="records">
                {{range $vl := .Settings}}
                    <div class="row">
                        <div class="col1">{{$vl.ID}}</div>
                        <div class="col2">{{$vl.Key}}</div>
                        <div class="col3">{{$vl.Value}}</div>
                        <div class="col4">{{$vl.Description}}</div>
                        <div class="col5">
                            <a href="/admin/settings/view-{{$vl.ID}}"><i class="fa-solid fa-eye"></i></a>
                            <a href="/admin/settings/edit-{{$vl.ID}}"><i class="fa-solid fa-pen"></i></a>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </main>

    <script src="/assets/js/admin.js"></script>
    </body>
    </html>
{{end}}